.hero {
  margin-top: 125px;
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap-reverse;
    padding-left: 120px;
    max-width: 90%;
    .hero-texts {
      max-width: 591px;
      .contact {
        button {
          background-color: #0075ff;
          border-radius: 14px;
          color: #fff;
          padding: 18px 24px;
          border: 3px solid #0075ff;
          font-size: 16px;
          &:hover {
            background-color: transparent;
            color: #0075ff;
            transition: 0.4s;
          }
        }
      }
    }
    .hero-img {
      img {
        text-align: end;
      }
    }
  }
}
