* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
.sec-1 {
  .sec-1-all {
    justify-content: space-between;
    display: flex;
    .sec1-mini1 {
      margin-top: 324px;
      .mini1-h1 {
        width: 550px;
        height: 148px;
        top: -3px;
        font-family: sans-serif;
        font-size: 68px;
        font-weight: 700;
        line-height: 74px;
        letter-spacing: 0em;
        text-align: left;
        color: #211f54;
      }
      .mini1-p {
        width: 591px;
        height: 91px;
        top: 167px;
        font-family: sans-serif;
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #6e7191;
        margin-top: 22px;
      }
      .vmeste-buts {
        display: flex;
        gap: 28px;
        margin-top: 40px;
        button {
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          color: white;
          background-color: #0075ff;
          border: none;
          width: 217px;
          height: 72px;
          border-radius: 14px;
          cursor: pointer;
        }
        button:hover {
          background-color: #0565d3;
          transition: 0.4s;
        }
        .vmeste-buts-1 {
          display: flex;
          gap: 16px;
          .vmeste-buts-2 {
            p {
              font-family: sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 1.600000023841858px;
              text-align: left;
              color: #6e7191;
              padding-top: 12px;
            }
            h2 {
              font-family: sans-serif;
              font-size: 28px;
              font-weight: 700;
              line-height: 36px;
              letter-spacing: 0em;
              text-align: left;
              color: #211f54;
              padding-top: 4px;
            }
          }
        }
      }
    }
    .sec1-mini2 {
      margin-top: 129px;
    }
  }
}
.sec-2 {
  margin-top: 156px;
  .sec-2-all {
    .sec2-h1 {
      font-family: sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 58px;
      letter-spacing: 0em;
      text-align: center;
      color: #211f54;
      width: 531px;
      height: 58px;
      top: -1px;
      left: 67px;
      margin-left: 385px;
    }
    .sec2-p {
      font-family: sans-serif;
      font-size: 21px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      color: #6e7191;
      width: 648px;
      height: 61px;
      top: 78px;
      left: 8px;
      margin-left: 328px;
      margin-top: 21px;
    }
    .sec2-cards {
      margin-top: 64px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
      .sec2-card {
        margin-left: 31px;
        .card-h {
          width: 357px;
          height: 36px;
          font-family: sans-serif;
          font-size: 28px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0em;
          text-align: center;
          color: #211f54;
          margin-left: -50px;
        }
        .card-p {
          width: 412px;
          height: 61px;
          top: 331px;
          left: -19px;
          font-family: sans-serif;
          font-size: 21px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          color: #6e7191;
          margin-left: -90px;
          margin-top: 16px;
        }
      }
    }
    .sec2-buts {
      display: flex;
      justify-content: center;
      gap: 28px;
      margin-top: 56px;
      button {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #211f54;
        background-color: white;
        width: 214px;
        height: 73px;
        border-radius: 14px;
        border: 1px;
        border: 1px solid #eff0f6;
        box-shadow: 0px 4px 10px 0px #14142b0a;
        cursor: pointer;
      }
      button:hover {
        background-color: #0075ff;
        color: white;
        transition: 0.4s;
      }
    }
  }
}
.sec-3 {
  margin-top: 155px;
  .sec-3-all {
    .sec3-nav {
      display: flex;
      justify-content: space-between;
      .sec3-nav-h {
        width: 475px;
        height: 58px;
        top: 42px;
        font-family: sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: #211f54;
      }
      .sec3-nav-but {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        width: 214px;
        height: 73px;
        top: 29px;
        left: 1006px;
        color: #211f54;
        background-color: white;
        cursor: pointer;
        border: 1px solid #eff0f6;
        box-shadow: 0px 4px 10px 0px #14142b0a;
        border-radius: 4px;
      }
      .sec3-nav-but:hover {
        background-color: #0075ff;
        border-radius: 4px;
        color: white;
        transition: 0.4s;
      }
    }
    .sec3-cards {
      margin-top: 48px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;
      .sec3-card {
        padding-top: 83px;
        width: 388px;
        height: 494px;
        border-radius: 16px;
        border: 1px;
        border: 1px solid #eff0f6;
        box-shadow: 0px 2px 6px 0px #14142b0a;
        img {
          margin-left: 84px;
        }
        .sec3-card-h {
          width: 201px;
          height: 34px;
          font-family: sans-serif;
          font-size: 24px;
          font-weight: 700;
          line-height: 34px;
          letter-spacing: 0em;
          text-align: center;
          color: #211f54;
          margin-left: 109px;
          margin-top: 24px;
        }
        .sec3-card-p {
          width: 312px;
          height: 121px;
          font-family: sans-serif;
          font-size: 21px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          color: #6e7191;
          margin-left: 38px;
          margin-top: 13px;
        }
      }
      .sec3-card2 {
        padding-top: 49px;
        width: 388px;
        height: 494px;
        border-radius: 16px;
        border: 1px;
        border: 1px solid #eff0f6;
        box-shadow: 0px 2px 6px 0px #14142b0a;
        img {
          margin-left: 84px;
        }
        .sec3-card-h {
          width: 201px;
          height: 34px;
          font-family: sans-serif;
          font-size: 24px;
          font-weight: 700;
          line-height: 34px;
          letter-spacing: 0em;
          text-align: center;
          color: #211f54;
          margin-left: 110px;
          margin-top: 24px;
        }
        .sec3-card-p {
          width: 312px;
          height: 121px;
          font-family: sans-serif;
          font-size: 21px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          color: #6e7191;
          margin-left: 38px;
          margin-top: 13px;
        }
      }
      .sec3-card3 {
        padding-top: 73px;
        width: 388px;
        height: 494px;
        border-radius: 16px;
        border: 1px;
        border: 1px solid #eff0f6;
        box-shadow: 0px 2px 6px 0px #14142b0a;
        img {
          margin-left: 69px;
        }
        .sec3-card-h {
          width: 221px;
          height: 34px;
          font-family: sans-serif;
          font-size: 24px;
          font-weight: 700;
          line-height: 34px;
          letter-spacing: 0em;
          text-align: center;
          color: #211f54;
          margin-left: 91px;
          margin-top: 24px;
        }
        .sec3-card-p {
          width: 312px;
          height: 121px;
          font-family: sans-serif;
          font-size: 21px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          color: #6e7191;
          margin-left: 38px;
          margin-top: 13px;
        }
      }
    }
    .FRAME {
      margin-top: 147px;
      margin-left: 45px;
    }
  }
}
.sec-4 {
  margin-top: 300px;
  .sec-4-all {
    .sec4-nav {
      display: flex;
      justify-content: space-between;
      .sec4-nav-h {
        width: 467px;
        height: 58px;
        top: 32px;
        font-family: sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: #211f54;
      }
      .sec4-nav-buts {
        gap: 28px;
        display: flex;
        flex-wrap: wrap;
        button {
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          background-color: white;
          color: black;
          border: 1px solid #eff0f6;
          box-shadow: 0px 4px 10px 0px #14142b0a;
          width: 217px;
          height: 72px;
          top: 0.44px;
          cursor: pointer;
          border-radius: 4px;
        }
        button:hover {
          background-color: #0075ff;
          color: white;
          transition: 0.4s;
          border-radius: 4px;
        }
      }
    }
    .sec4-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 28px;
      .sec4-card {
        margin-top: 68px;
        .sec4-mini-card {
          width: 536px;
          height: 324px;
          border-radius: 24px;
          border: 1px;
          border: 1px solid #eff0f6;
          box-shadow: 0px 2px 6px 0px #14142b0a;
          background-color: white;
          margin-left: 30px;
          .sec4-card-h {
            font-family: sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            width: 407px;
            height: 69px;
            top: 52px;
            left: 49px;
            color: #211f54;
            margin-top: 52px;
            margin-left: 49px;
          }
          .sec4-card-p {
            width: 434px;
            height: 91px;
            top: 138px;
            left: 49px;
            font-family: sans-serif;
            font-size: 21px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #6e7191;
            margin-top: 17px;
            margin-left: 49px;
          }
          h3 {
            margin-left: 49px;
          }
        }
      }
    }
  }
}
