.Contact {
  background-color: #f7f9fc;
  .Contact-content {
    padding: 120px 0;
    .Contact-texts {
      max-width: 487px;
      h1 {
        font-size: 48px;
        font-weight: 700;
        color: #211f54;
        padding-bottom: 32px;
      }
      p {
        font-size: 21px;
        color: #6e7191;
        padding-bottom: 32px;
      }
      .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        padding-bottom: 32px;
        button {
          background-color: #0075ff;
          border-radius: 14px;
          color: #fff;
          padding: 18px 24px;
          border: 3px solid #0075ff;
          font-size: 16px;
          &:hover {
            background-color: transparent;
            color: #0075ff;
            transition: 0.4s;
          }
        }
        .number {
          display: flex;
          gap: 16px;
          p {
            max-width: 236px;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 1.600000023841858px;
            span {
              display: inline-block;
              font-size: 28px;
              font-weight: 700;
              line-height: 36.01px;
              color: #211f54;
            }
          }
        }
      }
      hr {
        margin-bottom: 50px;
      }
      h2 {
        font-size: 28px;
        font-weight: 700;
        padding-bottom: 8px;
        color: #211f54;
      }
      h6 {
        font-size: 21px;
        font-weight: 400;
        color: #6e7191;
        padding-bottom: 32px;
      }
      button {
        padding: 26px 38px;
        background-color: #fff;
        border: 1px solid #eff0f6;
        box-shadow: 0px 4px 10px 0px #14142b0a;
        border-radius: 14px;
        font-size: 18px;
        font-weight: 700;
        color: #211f54;
        &:hover {
          background-color: #0075ff;
          color: #fff;
          transition: 0.3s;
        }
      }
    }
  }
}
